div.main(ng-controller="ShoppingCartCtrl")

  div.shopping-cart(ng-show="items.length")

    div.total
      img.total-logo(src="/images/logo_30words_store.png")
      p Your Total:
      p {{totalCost | currency:"$" }}
      div
        form(action="/purchase", method="post")
        script(src="https://checkout.stripe.com/v3/checkout.js",
        class="stripe-button",
        data-description="{{items.length}} language guides",
        data-image="/images/guide-corner-squared.jpg"
        data-key="pk_LzkJmgBXMs1mjt0WBrlEzrowncsB9",
        data-quantity='{{items.length}}'
        data-purchased_guides='Some Guides',
        data-name="30 WORDS",
        data-amount="{{totalCost}}")
        input(type="hidden", name="amount", value="{{totalCost}}")
        input(type="hidden", name="purchased_guides", value='Some Guides')

    div.all-languages-in-cart
      div.guide-in-cart-box(ng-repeat='item in items', ng-animate=" 'animate' ")
        div.guide-in-cart
          img(src='{{item.image}}', width='80px')
          i.fa.fa-times-circle-o(ng-click="removeFromCart($index)")
          td
            input.guide-quantity(type="number", ng:model="item.qty", ng:required, placeholder='1')

  div.guide-main
    div.guide-box
      div.cover-box
        img.guide-cover(ng-src='{{guide.image}}')
        button.btn.btn-primary.add-to-cart(ng-click="addToCart(guide)") Add to Cart

      div.guide-text
        p.guide-title {{guide.language}}
        div.guide-description {{guide.description}}
