div.main
  div.well

  div(ng-repeat='item in items')
    img(src='{{item.image}}', width='40px', ng-click="removeFromCart(guide)")

  div.shopping-cart
    form(action="/purchase", method="post")
    script(src="https://checkout.stripe.com/v3/checkout.js",
    class="stripe-button",
    data-image="/images/guide-corner-squared.jpg"
    data-key="pk_LzkJmgBXMs1mjt0WBrlEzrowncsB9",
    data-quantity=''
    data-price='995',
    data-shipping='200',
    data-shipping-address='',
    data-purchased_guides='Some Guides',
    data-name="30 WORDS")
    input(type="hidden", name="amount", value='995')
    input(type="hidden", name="purchased_guides", value='Some Guides')

  select.language-select(ng-model="searchparam")
    option(value="", selected) Choose Language
    option(ng-repeat="guide in guides", value="{{guide.language}}") {{guide.language}}

  div.all-guides
    div.guide-box(ng-repeat='guide in guides | filter: searchparam')
      div.cover-box
        img.guide-cover(ng-src='{{guide.image}}')
        addToCart(ng-click="addToCart(guide)") Add to Cart

      div.guide-text
        p.guide-title {{guide.language}}
        div.guide-description {{guide.description}}
