div.main
  div.shopping-cart(ng-show="items.length")
    div.language-in-cart
      div(ng-repeat='item in items')
        i.fa-times-circle-o(ng-click="removeFromCart(guide)")
        img.guide-in-cart(src='{{item.image}}', width='80px')
        td
          input.guide-quantity(type="number", ng:model="item.qty", ng:required, placeholder='1')

    div total: {{totalCost}}

    div
      form(action="/purchase", method="post")
      script(src="https://checkout.stripe.com/v3/checkout.js",
      class="stripe-button",
      data-description="{{items.length}} language guides",
      data-image="/images/guide-corner-squared.jpg"
      data-key="pk_LzkJmgBXMs1mjt0WBrlEzrowncsB9",
      data-quantity='{{items.length}}'
      data-purchased_guides='Some Guides',
      data-name="30 WORDS",
      data-amount="{{totalCost}}")
      input(type="hidden", name="amount", value="{{totalCost}}")
      input(type="hidden", name="purchased_guides", value='Some Guides')

  div.well

  //- THIS IS A TEST !  http://jsfiddle.net/slav123/75m7e/3/

  //- div
  //-   table.table
  //-     tr
  //-       th Description
  //-       th Qty
  //-       th Cost
  //-       th Total
  //-       th

  //-     tr(ng:repeat="item in items")
  //-       td
  //-         input(type="text", ng:model="item.language")
  //-       td
  //-         input(type="number", ng:model="item.cost", ng:required)
  //-       td {{item.qty * item.cost | currency}}
  //-       <td>
  //-           [<a href ng:click="removeItem($index)">X</a>]
  //-       </td>
  //-     </tr>
  //-     <tr>
  //-       <td><a href ng:click="addItem()" class="btn btn-small">add item</a></td>
  //-       <td></td>
  //-       <td>Total:</td>
  //-       <td>{{total() | currency}}</td>
  //-     </tr>
  //-   </table>
  //- </div>


  select.language-select(ng-model="searchparam")
    option(value="", selected) Choose Language
    option(ng-repeat="guide in guides", value="{{guide.language}}") {{guide.language}}

  div.all-guides
    div.guide-box(ng-repeat='guide in guides | filter: searchparam')
      div.cover-box
        img.guide-cover(ng-src='{{guide.image}}')
        addToCart(ng-click="addToCart(guide)") Add to Cart

      div.guide-text
        p.guide-title {{guide.language}}
        div.guide-description {{guide.description}}
